[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
#Restart=on-failure
WorkingDirectory=/opt/grafana
RuntimeDirectoryMode=0750
ExecStart=/opt/grafana/bin/grafana-server \
    --homepath=/opt/grafana \
    --config=/opt/grafana/conf/grafana.ini \
    --pidfile=/opt/grafana/var/run/grafana-server.pid
LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
